<div class="row">
    <div class="small-2 columns">
        Previous
        <div *ngIf="naytaTapahtuma === true">
            <input-app [tapahtumaId]="tapahtumaId" [tapahtumaKlo]="tapahtumaKlo" [tapahtumaPvm]="tapahtumaPvm"></input-app>
        </div>
    </div>
    <div class="small-6 columns">
      <table class="hover">
            <thead>
            <tr>
                <th class="headertablerow"></th>
                <th *ngFor="let viikonpaiva of viikonPaivat" class="headertablerow">{{viikonpaiva}}</th>
            </tr>
            <tr>
                <th class="headertablerow">kello</th>
                <th *ngFor="let paivaM of kalenteriPaivamaarat" class="headertablerow">{{paivaM}}</th>
            </tr>
            </thead>

            <tbody>
                <tr *ngFor="let kello of kellonAjat" class="hele">
                    <td>{{kello}}</td>
                    <td *ngFor="let pvm of kalenteriPaivamaarat" id="{{pvm + kello}}" (click)="lisaaTapahtuma(pvm + kello)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="small-2 columns">Next</div>
</div>