<div class="mui-col-sm-8 mui-col-sm-offset-2">
    <table class="mui-table mui-table--bordered">
        <thead>
        <tr>
            <th><-</th>
            <th>Maanantai</th>
            <th>Tiistai</th>
            <th>Keskiviikko</th>
            <th>Torstai</th>
            <th>Perjantai</th>
            <th>Lauantai</th>
            <th>Sunnuntai</th>
            <th>-></th>
        </tr>
        <tr>
            <th>kello</th>
            <th>24.10.2016</th>
            <th>25.10.2016</th>
            <th>26.10.2016</th>
            <th>27.10.2016</th>
            <th>28.10.2016</th>
            <th>29.10.2016</th>
            <th>30.10.2016</th>
            <th>-</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>06:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>07:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>08:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>09:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>11:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>13:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>14:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>15:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>16:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>17:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>18:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>19:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>20:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>21:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>22:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>23:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        <tr>
            <td>00:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>|</td>
        </tr>
        </tbody>
    </table>
</div>